.badge {
	margin-top: 5px;
	padding: 4px 10px;
	line-height: 16px;
	text-decoration: none;
	border-radius: 8px;
	display: block;
	text-overflow: ellipsis;
	overflow: hidden;
	text-transform: uppercase;
	width: fit-content;
}